body
		{
			/*background-color: #f5f5f5;*/
			font-family: "Open Sans";
      font-size: 14px;
       font-weight: 200;
  line-height: 15px;
  /*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 22px;*/
		}
		.navbar
		{
			background-color: #2872C7;
		}
		.navbar li a, .navbar .navbar-brand 
		{
      		color: #fff;
  		}
 		ul li a:hover
  		{
    		color: black;
		}

		.carousel 
    {
  /* any dimensions are fine, it can be responsive with max-width */
      width: 100%;
      height: 100%;
    }

  .carousel-inner 
  {
  /* make sure your .items will get correct height */
    height: 100%;
  }

  .item 
  {
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
  }

  .item img 
  {
    visibility: hidden;
  }

.footer1 {
    background: #fff url("../images/footer/footer-bg.png") repeat scroll left top;
  padding-top: 40px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;/*  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #003;*/
}



.title-widget {
  color: #898989;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 0;
  padding-left: 28px;
}

.title-widget::before {
    background-color: #ea5644;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}



.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}


.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
  position: relative;
    text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
  width:95%;
}



.title-median {
    color: #636363;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif;
}

.footerp p {font-family: 'Gudea', sans-serif; }

.footer-bottom {
    background-color: #15224f;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}